.save__button {
  position: relative;
  display: flex;
  color: var(--accent-color);
  align-items: center;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  padding: 15px 20px;
  margin-bottom: 103px;
  cursor: pointer;
}

.save__button:focus,
.save__button:focus-visible {
  outline: none;
  box-shadow: 2px 2px var(--accent-color);
  transition: box-shadow 0.3s ease;
}

@media (max-width: 375px) {
  .save__button {
    flex-direction: column;
    margin-bottom: 100px;
    gap: 8px;
    padding: 15px 20px;
  }
}