.card__header {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  padding: 3px 0 3px 10px;
  text-align: left;
}

@media (max-width: 375px) {
  .card__header{
    max-width: 300px;
  }
}