.card__like-button {
  position: relative;
  display: flex;
  background-color: transparent;
  align-self: flex-end;
  margin: 25px 25px 25px 4px;
  padding: 0 0;
  border: 2px solid var(--accent-color);
  cursor: pointer;
}

.card__like-button:focus,
.card__like-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px var(--accent-color);
  transition: box-shadow 0.3s ease;
}
