.header__subtitle {
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 100%;
  text-transform: uppercase;  
}

